@forward 'global';
@use './fonts/color' as color;
@use './fonts/text' as text;
@use './responsive/breakpoint' as break;
@use './responsive/layout' as layout;

body{
    background-color: color.$lightBlue;
    font-family: text.$family;
    .container{
        min-height: 100vh;
        @include layout.gridCenter;
        margin: auto;
        .card{
            @include layout.gridCenter;
            grid-template-columns: 20.5rem 26rem;
            @include break.breakpoint(small){
                @include layout.flexCenter;
                flex-direction: column;
                margin: 1rem;
            }
            .pic{
                width: 20.5rem;
                border-radius: 20px 0 0 20px;
                @include break.breakpoint(small){
                    width: 20rem;
                    border-radius: 20px 20px 0 0;
                }
            }
            .content{
                border-radius: 0 20px 20px 0;
                @include layout.flexCenter;
                flex-direction: column;
                justify-content: space-around;
                flex-wrap: wrap;
                background-color: #fff;
                padding: 2rem;
                @include break.breakpoint(small){
                    border-radius: 0 0 20px 20px;
                    width: 20rem;
                    padding: 1rem;
                    
                }
                h1{
                    @include break.breakpoint(small){
                        font-size: 18px;
                    }
                    font-size: 19px;
                    font-weight: 700;
                    color: color.$darkGrayBlue;
                }
                p{
                    @include break.breakpoint(small){
                        font-size: 11px;
                    }
                    font-size: text.$size;
                    font-weight: 500;
                    color: color.$darkBlue;
                    margin: 1rem 0;
                }
                .info{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    .avatar{
                        width: 50px;
                        border-radius: 50%;
                    }
                    .info_name{
                        font-size: text.$size;
                        margin-left: 20px;
                        p{
                            margin: 0
                        }
                    }
                    .share{
                        @include layout.flexCenter;
                        flex-direction: column;
                        margin-left: auto;
                        position: relative;
                        @include break.breakpoint(small){
                            z-index: 5;
                        }
                        .active{
                            display: none;
                            align-items: center;
                            justify-content: space-around;
                            position: absolute;
                            top: -5rem;
                            width: 15rem;
                            padding: 1rem  ;
                            border-radius: 10px;
                            background-color: color.$darkGrayBlue;
                            color: color.$darkBlue;
                            text-transform: uppercase;
                            letter-spacing: .3rem;
                            font-size: text.$size;
                            @include break.breakpoint(small){
                                inset: 0;
                                left: -17rem;
                                top:-.8rem;
                                width: 20rem;
                                height: 4rem;
                                z-index: -1;
                                justify-content: unset;

                                margin-right: auto;
                                align-items: center;
                                border-radius: 0 0 20px 20px;
                                a{
                                    margin: 0 1rem;
                                }
                            }
                            &::after{
                                @include break.breakpoint(small){
                                    display: none;
                                }
                                position: absolute;
                                content: '';
                                width: 0;
                                height: 0;
                                inset: 0;
                                top: 80%;
                                left: 40%;
                                border-left: 25px solid transparent;
                                border-right: 25px solid transparent;
                                border-top: 25px solid color.$darkGrayBlue;

                            }
                            img{
                                cursor: pointer;
                                margin: auto;

                            }
                        }
                        .img_share{
                            background-color: color.$lightBlue;
                            padding: .5rem;
                            border-radius: 50%;
                            cursor: pointer;
                            @include break.breakpoint(small){
                                margin-top: auto;
                            }
                            
                        }
                    }
                    
                    
                }
            }
        }
    }
}