@forward 'global';
@use './fonts/color' as color;
@use './fonts/text' as text;
@use './responsive/breakpoint' as break;
@use './responsive/layout' as layout;

body{
    background-color: color.$lightBlue;
    font-family: text.$family;
    .container{
        height: 100vh;
        @include layout.gridCenter;
        .card{
            @include layout.gridCenter;
            // place-items: unset;
            grid-template-columns: 25rem 31rem;
            .pic{
                width: 25rem;
                border-radius: 20px 0 0 20px;
            }
            .content{
                border-radius: 0 20px 20px 0;
                @include layout.flexCenter;
                justify-content: space-around;
                background-color: #fff;
                height: 100%;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                h1{
                    font-size: 25px;
                    font-weight: 700;
                    color: color.$darkGrayBlue;
                }
                p{
                    font-weight: 500;
                    color: color.$darkBlue;
                }
                .info{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    .avatar{
                        width: 50px;
                        border-radius: 50%;
                    }
                    .info_name{
                        font-size: text.$size;
                        margin-left: 20px;
                    }
                    .share{
                        @include layout.flexCenter;
                        flex-direction: column;
                        position: relative;
                        .active{
                            display: none;
                            align-items: center;
                            justify-content: space-around;
                            position: absolute;
                            top: -5rem;
                            width: 15rem;
                            padding: 1rem 1rem ;
                            border-radius: 10px;
                            background-color: color.$darkGrayBlue;
                            color: color.$darkBlue;
                            text-transform: uppercase;
                            letter-spacing: .3rem;
                            &::after{
                                position: absolute;
                                content: '';
                                width: 0;
                                height: 0;
                                inset: 0;
                                top: 80%;
                                left: 40%;
                                border-left: 25px solid transparent;
                                border-right: 25px solid transparent;
                                border-top: 25px solid color.$darkGrayBlue;

                            }
                            img{
                                cursor: pointer;
                                margin: auto;
                            }
                        }
                        margin-left: auto;
                        .img_share{
                            background-color: color.$lightBlue;
                            padding: .5rem;
                            border-radius: 150px;
                            cursor: pointer;
                            
                        }
                    }
                    
                    
                }
            }
        }
    }
}